* {
  margin: 0px;
  border-style: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("./font.css");
}

:root {
  --red: hsl(4, 100%, 67%);
  --slateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
body {
  font-family: Roboto;
  display: grid;
}

.imagecontainer {
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media screen and (max-width: 375px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 18px;
  margin-left: 32px;
  margin-right: 18px;
}

.join {
  margin-left: 32px;
  margin-right: 18px;
}

.subtext {
  line-height: 3em;
  margin-right: 18px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.iconlist {
  margin-right: 8px;
  margin-left: 2px;
}

form {
  display: inline-block;
  padding: 12px;
}

input[type="email"] {
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  width: 80%;
}
input[type="button"] {
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  width: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
